#allPage {
  width: 930px;
  margin-right: auto;
  margin-left: auto;
  font-size: 45px;
  padding: 30px;
  background-color: whitesmoke;
}

#name, #description {
  text-align: center;
}

.section {
  font-weight: bold;
  padding: 3px;
  background-color: lightsteelblue;
  text-align: center;
}
  
body {
  background-color: whitesmoke;
  margin: 0px;
}
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;  
  border-radius: 50%;
  height: 300px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-style: solid;
  border-color: lightsteelblue;
  background-color: lightsteelblue;
  height: 1px;
}

footer {
  width: 930px;
  margin-right: auto;
  margin-left: auto;
  font-size: x-large;
  padding: 25px;
  background-color: whitesmoke;
  color: grey;
}